// Colors
$color-primary-purple: #4f46e5;
$color-primary-purple-light: #4e46e5dc;
$color-primary-purple-extra-light: #ebefff;
$color-primary-purple-dark: #3b3391;

$color-bg-gray: #f6f6f8;
$color-gray-dark: #656c8c;
$color-white-light-gray: #fcfcfd;
$color-gray-border: #e6e8ee;
$color-title-gray: #6f7694;

$color-green-light: #e4f5f0;
$color-green-primary: #14ba83;
$color-orange-light: #fbf2e4;
$color-orage-primary: #f5a113;
$color-red-light: #fae9ea;
$color-red-primary: #f05858;
$color-blue-light: #e7f6ff;
$color-blue-primary: #0077ff;

$color-black-mate: #18191e;
$color-black: #000000;
$color-white: #ffffff;

// Typography - font weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-family-ibm: "IBMPlexSans";

// Border radius
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-14: 14px;
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-30: 30px;
$border-radius-35: 35px;
$border-radius-50: 50%;
