@use "./variables";
@use "./mixins";

.ms--client-table-container {
  @include color($bg: variables.$color-white);
  width: 100%;
  border-radius: variables.$border-radius-20;
  margin-top: 0.5rem;
  padding: 1.5rem 1rem;
}

.ms--client-input {
  @include color($bg: variables.$color-bg-gray);
  padding: 0.5rem;
  border-radius: variables.$border-radius-16 !important;
  &:focus,
  &:hover {
    @include color($bg: variables.$color-bg-gray);
  }
}

.ms--client-title {
  @include color($text: variables.$color-black-mate);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-semibold !important;
  font-variation-settings: "wght" variables.$font-weight-semibold !important;
}

.ms--client-btn {
  @include color($bg: variables.$color-primary-purple-dark);
  padding: 1rem;
  border-radius: variables.$border-radius-12 !important;
  span {
    @include fluid-font(0.6, 1);
    @include color($text: variables.$color-white);
    font-family: variables.$font-family-ibm !important;
    font-weight: variables.$font-weight-medium !important;
    font-variation-settings: "wght" variables.$font-weight-medium !important;
  }
}

.ms--client-select {
  @include flex(center, center);
  min-height: 40px;
  :global(.ant-select-selector) {
    @include color($bg: variables.$color-bg-gray !important);
    border-radius: variables.$border-radius-16 !important;
    border: 1px solid variables.$color-gray-border !important;
  }
}

.ms--client-label {
  @include fluid-font(0.4, 0.9);
  @include color($text: variables.$color-title-gray);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-medium !important;
  font-variation-settings: "wght" variables.$font-weight-medium !important;
}

.ms--client-actions {
  @include flex(center, center);
  @include color($bg: variables.$color-bg-gray);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-semibold !important;
  font-variation-settings: "wght" variables.$font-weight-semibold !important;
  width: 30px;
  height: 30px;
  border: 1px solid variables.$color-gray-border;
  border-radius: variables.$border-radius-50 !important;
  cursor: pointer;
}

.ms--modal-title-icon {
  border-inline-start: 5px solid variables.$color-primary-purple-dark !important;
  padding-inline-start: 0.5rem;
}

.ms--popconfirm-title {
  @include color($text: variables.$color-black-mate);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-semibold !important;
  font-variation-settings: "wght" variables.$font-weight-semibold !important;
}

.ms--popconfirm-description {
  @include color($text: variables.$color-gray-dark);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-normal !important;
  font-variation-settings: "wght" variables.$font-weight-normal !important;
}

.ms--client-name {
  text-transform: capitalize;
}

// ---- pagination----

.ms--client-pagination {
  margin-top: 1.5rem;
}

:global(.ant-pagination .ant-pagination-item-active) {
  @include color($bg: variables.$color-primary-purple-dark !important);
  border-color: variables.$color-primary-purple-dark !important;
  border-radius: variables.$border-radius-50 !important ;
  a {
    @include color($text: variables.$color-white !important);
  }
}

// ---- add product select ----
.ms--select-add-product {
  :global(.ant-select-selector) {
    @include color($bg: variables.$color-white !important);
    border-radius: variables.$border-radius-16 !important;
    border: 1px solid variables.$color-gray-border !important;
  }
}

.ms--add-product-item-btn {
  @include flex(center, center);
  @include color(
    $bg: variables.$color-bg-gray,
    $text: variables.$color-primary-purple-dark
  );
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px dashed variables.$color-primary-purple-dark;
  border-radius: variables.$border-radius-16 !important;
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-medium !important;
  font-variation-settings: "wght" variables.$font-weight-medium !important;
  cursor: pointer;
}

.ms--add-icon {
  cursor: pointer;
}

.ms--no-email {
  @include color($text: variables.$color-gray-dark);
  @include flex(null, null);
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-normal !important;
  font-variation-settings: "wght" variables.$font-weight-normal !important;
  gap: 0.25rem;
}
