@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900; // variable font weight range
  font-style: normal;
  font-display: swap;
}
