@use "./variables";
@use "./mixins";

.ms--select {
  width: 100%;
  min-width: 140px;

  :global(.ant-select-selection-item),
  :global(.ant-select-selection-placeholder) {
    @include color($text: variables.$color-gray-dark);
    font-family: variables.$font-family-ibm !important;
    font-weight: variables.$font-weight-semibold !important;
    font-variation-settings: "wght" variables.$font-weight-semibold !important;
  }
}

.ms--select-icon {
  color: variables.$color-gray-dark !important;
}
