@use "./variables";
@use "./mixins";

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 1px 12px;
  border-radius: 20px;
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-semibold !important;
  font-variation-settings: "wght" variables.$font-weight-semibold !important;
  font-size: 13px;
  text-transform: capitalize;
}

/* Small dot */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* -------- Status Styles -------- */

/* Users */
.active {
  background: variables.$color-green-light;
  color: variables.$color-green-primary;
}
.active .dot {
  background: variables.$color-green-primary;
}

.désactive {
  background: variables.$color-red-light;
  color: variables.$color-red-primary;
}
.désactive .dot {
  background: variables.$color-red-primary;
}

/* Products */
.en_stock {
  background: variables.$color-green-light;
  color: variables.$color-green-primary;
}
.en_stock .dot {
  background: variables.$color-green-primary;
}

.stock_faible {
  background: variables.$color-orange-light;
  color: variables.$color-orage-primary;
}
.stock_faible .dot {
  background: variables.$color-orage-primary;
}

.rupture_de_stock {
  background: variables.$color-red-light;
  color: variables.$color-red-primary;
}
.rupture_de_stock .dot {
  background: variables.$color-red-primary;
}

/* Invoices */
.brouillon {
  background: variables.$color-blue-light;
  color: variables.$color-blue-primary;
}
.brouillon .dot {
  background: variables.$color-blue-primary;
}

.non_payé {
  background: variables.$color-red-light;
  color: variables.$color-red-primary;
}
.non_payé .dot {
  background: variables.$color-red-primary;
}

.partiellement_payé {
  background: variables.$color-orange-light;
  color: variables.$color-orage-primary;
}
.partiellement_payé .dot {
  background: variables.$color-orage-primary;
}

.payé {
  background: variables.$color-green-light;
  color: variables.$color-green-primary;
}

.payé .dot {
  background: variables.$color-green-primary;
}
