@use "./variables";
@use "./mixins";

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 1px 12px;
  border-radius: 20px;
  font-family: variables.$font-family-ibm !important;
  font-weight: variables.$font-weight-semibold !important;
  font-variation-settings: "wght" variables.$font-weight-semibold !important;
  font-size: 13px;
  text-transform: capitalize;
}

/* Small dot */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* -------- Status Styles -------- */

/* Users */
.active {
  background: variables.$color-green-light;
  color: variables.$color-green-primary;
}
.active .dot {
  background: variables.$color-green-primary;
}

.désactive {
  background: variables.$color-red-light;
  color: variables.$color-red-primary;
}
.désactive .dot {
  background: variables.$color-red-primary;
}

/* Products */
.en_stock {
  background: variables.$color-green-light;
  color: variables.$color-green-primary;
}
.en_stock .dot {
  background: variables.$color-green-primary;
}

.stock_faible {
  background: variables.$color-orange-light;
  color: variables.$color-orage-primary;
}
.stock_faible .dot {
  background: variables.$color-orage-primary;
}

.rupture_de_stock {
  background: variables.$color-red-light;
  color: variables.$color-red-primary;
}
.rupture_de_stock .dot {
  background: variables.$color-red-primary;
}

/* Invoices */
.paid {
  background: #e7f6ff;
  color: #0077ff;
}
.paid .dot {
  background: #0077ff;
}

.unpaid {
  background: #fff0e6;
  color: #ff7a00;
}
.unpaid .dot {
  background: #ff7a00;
}
